/* App.css */
.sidebar-active {
  background-color: var(--primary-orange);
  color: var(--white);
}

.app-bg {
  background-color: var(--bg-color);
}
.chart-bar-workout {
  background-color: var(--cyan);
}

.chart-bar-calories {
  background-color: var(--primary-orange);
}

.chart-bar-steps {
  background-color: var(--purple);
}